
<div class="d-flex align-items-start flex-column" style="height: 300px;">
  <div class="mb-auto p-2">
    <a href="/login"><button class="btn btn-info">Log In</button></a>
    <a href="/signup"><button class="btn btn-success">Sign Up</button></a>
  </div>
  <div class="p-2">
    <h1>{{title}}</h1>
    <p>Pin your {{title}}</p>
  </div>
</div>