
<div class="d-flex align-items-start flex-column" style="height: 400px;">

  <div class="mb-auto p-2">
    <a href="/logout"><button class="btn btn-danger">Log Out</button></a>
  </div>

  <div class="p-2">
    <div class="mt-2 p-2">
      <h4>Welcome {{user}}</h4>
    </div>

    <br>

    <div class="p-2">
      <h4>Now you can access to your</h4>
    </div>

    <div class="p-2">
      <h1>{{title}}</h1>
    </div>
    
    <div class="p-2">
      <a href="/map"><button class="btn btn-warning">Let's go!</button></a>
    </div>

  </div>

</div>