body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:white;
  background-image: url(../images/pexels-aksonsat-uanthoeng-1078850.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}
